<div class="comments">

  <div class="card">
    <h3 class="card-header"></h3>
    <section class="comment card-body">
      <div class="text">
        {{#each comments as |comment|}}
          {{dataValues.comment}}
        {{/each}}
      </div>
      <div class="meta">
        -{{user.dataValues.username}},
        {{format_date created_at}}
      </div>
    </section>
  </div>

</div>